/* COLOURS */
:root{
    --lilac: #D499B9;
    --dark-blue: #1F5673;
    --blue: #759FBC;
    --light-blue: #9BC4CC;
    --egg: #F4EBD9;

}

/* GENERAL */
* {
  margin: 0;
  padding:0;
}

html, body{
  margin:0;
  padding:0;
  border:0;
  min-height:100%; 
  scroll-behavior: smooth;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active {text-decoration: none; }

/* TAGS */
h1{ 
  font-family: 'Lora', serif;
  font-size: 3em;
  font-weight: 600;
  color: var(--egg);
} 

h2{ 
  font-family: 'Monserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color:var(--egg);
} 

h3{ 
  font-family: 'Monserrat', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color:var(--egg);
} 

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  color: var(--egg);
}


/* CLASSES */
.hor-centre{
  display:flex;  
  justify-content: center;
}

.vert-centre{
  display:flex;
  align-items:center;
}

.selected{
  color: var(--lilac);
}

.art{
  height: 100%;
  width: 100%;
}

/* IDs */
#background{
  background: hsla(201, 58%, 29%, 1);
  background: linear-gradient(0deg, hsla(201, 58%, 29%, 1) 0%, hsla(205, 35%, 60%, 1) 29%, hsla(190, 32%, 70%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(201, 58%, 29%, 1) 0%, hsla(205, 35%, 60%, 1) 29%, hsla(190, 32%, 70%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(201, 58%, 29%, 1) 0%, hsla(205, 35%, 60%, 1) 29%, hsla(190, 32%, 70%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1F5673", endColorstr="#759FBC", GradientType=1 );

  height: 100%;
}

#header{
  padding:3%;
  width: auto;
  height: 10%;
  display: flex;
}

#logo{
  font-size:1.5em;
  width:50%;
}

#nav{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#nav > * {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color:var(--dark-blue);
}

#art{
  margin:auto;
  height: 70vh;
  aspect-ratio: 4/3;
}

#meditation{
  height:30vh;
  display:flex;
}

#hint{
  width:50%;
}

#player{
  flex-grow: 1;
}

#footer {
  height: 100vh;
  background-color: var(--dark-blue);
  display: flex;
}

#about{
  width:50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top:50px;
  padding-bottom: 50px;
}

#footer h1{
  padding-bottom:.5em;
}

#details{
  width:50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top:50px;
  padding-bottom: 50px;
}

#oops {
  padding-top:20%;
  width: 30%;
  margin:auto;
  text-align: center;
}