/* COLOURS */
:root{
  --lilac: #D499B9;
  --dark-blue: #1F5673;
  --blue: #759FBC;
  --light-blue: #9BC4CC;
  --egg: #F4EBD9;

}


/* ------- */
/* GENERAL */
/* ------- */
* {
margin: 0px;
padding: 0px;
border: 0;
font-family: 'Montserrat', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body{
min-height:100%;
scroll-behavior: smooth;
}


/* ----- */
/* LINKS */
/* ----- */
a:link, a:visited, a:active {
color: var(--dark-blue);
text-decoration: none; 
}

a:hover {
color: var(--lilac);
text-decoration: none; 
}

.active:hover>*{
  color:var(--dark-blue) !important;
  text-decoration: none;
}


/* -------- */
/* HEADINGS */
/* -------- */
h1{ 
font-family: 'Lora', serif;
font-size: 2.5em;
font-weight: 500;
color: var(--egg);
} 

h2{ 
font-family: 'Monserrat', sans-serif;
font-size: 1.5em;
font-weight: 500;
color:var(--egg);
} 

h3{ 
font-family: 'Monserrat', sans-serif;
font-size: 1em;
font-weight: 600;
color:var(--egg);
}

p{
font-family: 'Montserrat', sans-serif;
font-size: 1em;
font-weight: 400;
color: var(--egg);
}


/* ----------- */
/* NEW CLASSES */
/* ----------- */
.gradient{
  /* cite gradient maker here https://coolors.co/gradient-maker/ */
background: hsla(190, 32%, 70%, 1);
background: linear-gradient(270deg, hsla(190, 32%, 70%, 1) 10%, hsla(205, 35%, 60%, 1) 90%);
background: -moz-linear-gradient(270deg, hsla(190, 32%, 70%, 1) 10%, hsla(205, 35%, 60%, 1) 90%);
background: -webkit-linear-gradient(270deg, hsla(190, 32%, 70%, 1) 10%, hsla(205, 35%, 60%, 1) 90%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BC4CC", endColorstr="#759FBC", GradientType=1 );
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.centre-text{
  text-align: center;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.centre-vert{
  align-items: center;
}

.centre-horz{
  justify-content: center;
}

.padding{
  padding: 10px;
}

.whole{
  width:100%;
}

.half{
  width:50%;
}

.distribute{
  justify-content:space-evenly;
}

.semi{
  height: 100%;
}

.logo{
  max-width: 70%;
  aspect-ratio: auto;
}

.icon { 
  font-size: 5em !important;
  color: var(--dark-blue);
}

.icon:hover{
  color: var(--lilac);
}


/* ----------- */
/* NAV CLASSES */
/* ----------- */
.nav-item{
  width:20%;
  font-size: 1.5em !important;
  font-weight: 500 !important;
}

.active{
  background-color: var(--lilac);
  color: var(--dark-blue);
  border-radius: 0.5em;
}


/* ------- */
/* NEW IDs */
/* ------- */
#header{
  padding-top: 20px;
  background-color: var(--light-blue);
}

#main{
  height:100vh;
}

#art{
  height: 80%;
}

#artefact{
  max-width: 70%;
  aspect-ratio: 4/3;
}

#meditation{
  height:20%;
}

#footer{
  height:100vh;
  background-color: var(--blue);
}

#oops {
  width: 30vw;
  padding-top: 24vh;
  margin: auto;
  text-align: center;
}

#about{
  width:60%;
}


/* ------ */
/* MOBILE */
/* ------ */
@media screen and (max-width: 640px){
  .half{
    width: 100%;
  }
  .row{
    flex-direction: column;
  }
  .nav-item{
    width:50%;
  }
  #artefact{
    max-width: 100%;
  }
  .semi{
    height: 50%;
  }
  #footer{
    height:auto;
  }
}
