/* COLOURS */
:root{
    --lilac: #D499B9;
    --dark-blue: #1F5673;
    --blue: #759FBC;
    --light-blue: #9BC4CC;
    --egg: #F4EBD9;
}

/* GENERAL */
* {
  margin: 0;
  padding:0;
}

html, body{
  margin:0;
  padding:0;
  border:0;
  height:100%;
  min-height:100%; 
}


/* TAGS */
h1{ 
  font-family: 'Lora', serif;
  font-size: 5em;
  font-weight: 600;
  line-height: 7em;
} 

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 2em;
}


/* CLASSES */
.hor-centre{
  display:flex;  
  justify-content: center;
}

.vert-centre{
  display:flex;
  align-items:center;
}

.art{
  width:40%;
  margin:auto;
  padding:100px;
}

div.header{
  margin: 0;
  padding:3%;
  border: 0;
  width: auto;
  height: 10%;
  display:flex;
  align-items:center;
  /* background-color: var(--dark-blue) */
}

/* IDs */
#background{
  background: hsla(201, 58%, 29%, 1);
  background: linear-gradient(0deg, hsla(201, 58%, 29%, 1) 0%, hsla(205, 35%, 60%, 1) 29%, hsla(190, 32%, 70%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(201, 58%, 29%, 1) 0%, hsla(205, 35%, 60%, 1) 29%, hsla(190, 32%, 70%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(201, 58%, 29%, 1) 0%, hsla(205, 35%, 60%, 1) 29%, hsla(190, 32%, 70%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1F5673", endColorstr="#759FBC", GradientType=1 );
}

#threedee{
  aspect-ratio: 4/3;
}

#art{
  width: 100%;
  background-color: var(--light-blue);

}

#meditation{
  width:100%;
  background-color:var(--blue);
}

#audio{
  width:50%;
  margin:auto;

}

#footer {
  margin: 0;
  border: 0;
  width: 100%;
  height: 600px;
  background-color: var(--dark-blue);
}