/* COLOURS */
:root{
  --lilac: #D499B9;
  --dark-blue: #1F5673;
  --blue: #456895;
  --light-blue: #6791B5;
  --egg: #FBF3D6;
  --translucentEgg: #FBF3D680;
}


/* -------- */
/* --TAGS-- */
/* -------- */
* {
margin: 0px;
padding: 0px;
border: 0;
font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
min-height:100%;
scroll-behavior: smooth;
}


/* ----- */
/* LINKS */
/* ----- */
a:link, a:visited, a:active {
  color: var(--egg);
  text-decoration: none; 
  font-weight: bold;
}

a:hover {
  color: var(--lilac);
  text-decoration: none; 
}

.active:hover>*{
  pointer-events: none;
}


/* -------- */
/* HEADINGS */
/* -------- */
h1{ 
  font-family: 'Lora', serif;
  font-size: 3em;
  font-weight: 500;
  color: var(--egg);
} 

h2{ 
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: 500;
  color:var(--egg);
} 

li, p{
  font-family: 'montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--egg);
  line-height: 2em;
}

#idInput{
  color:var(--egg) !important;
  background-color: var(--blue);
  border-color: var(--egg);
  font-weight: normal !important;
  border-style: solid;
  border-width: medium;
}


/* ----------- */
/* --CLASSES-- */
/* ----------- */
.gradient{
  /* cite gradient maker here https://coolors.co/gradient-maker/ */
background: var(--light-blue);
background: linear-gradient(270deg, var(--light-blue) 20%, var(--blue) 80%);
background: -moz-linear-gradient(270deg,var(--light-blue) 20%, var(--blue) 80%);
background: -webkit-linear-gradient(270deg,var(--light-blue) 20%, var(--blue) 80%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=var(--light-blue), endColorstr=var(--blue), GradientType=1 );
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.centre-text{
  text-align: center;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.centre-vert{
  align-items: center;
}

.centre-horz{
  justify-content: center;
}

.padding{
  padding: 10px;
}

.margin{
  margin:10px;
}

.whole{
  width:100%;
}

.half{
  width:50%;
}

.distribute{
  justify-content:space-evenly;
}

.semi{
  height: 100%;
}

.logo{
  max-width: 70%;
  aspect-ratio: auto;
}

.icon { 
  font-size: 4em !important;
  color: inherit;
}

.changeArtefactButton {
  background-color: var(--egg);
  color:var(--dark-blue);
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.changeAudio {
  background-color: var(--egg);
  color:var(--dark-blue);
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.changeArtefactButton:hover, .changeAudio:hover { 
  background-color: var(--lilac );
  color: var(--egg);
}

/* ----------- */
/* NAV CLASSES */
/* ----------- */
.nav-item{
  width:20%;
  font-size: 1.7em !important;
  border-radius: 0.5em;
}

.nav-item:hover{
  background-color: var(--lilac); 
}

.nav-item:hover > a {
  color: var(--egg)
}

.active{
  background-color: var(--dark-blue) !important;
  color: var(--egg) !important;
}

/* ---------------- */
/* -SURVEY BUTTONS- */
/* ---------------- */
.text-button{
  width:20%;
  border-radius: 0.5em;
  background-color: var(--egg);
  font-size: 1em;
  font-weight: bolder;
  color: var(--dark-blue) !important;
}

.text-button:hover{
  background-color: var(--lilac);
  color: var(--egg) !important;
}

.text-button>a{
  color:var(--dark-blue);
}
.text-button:hover>a{
  color:var(--egg);
}

.disabled{
  background-color: var(--translucentEgg) !important;
  pointer-events: none;
}


/* ------- */
/* NEW IDs */
/* ------- */
#header{
  padding-top: 20px;
  background-color: var(--light-blue);
}

/* #main{
  height:100vh;
} */

#art{
  height: 80%;
}

#artefact, #survey{
  max-width: 70%;
  height: 70vh;
}

#meditation{
  height:30vh;
}

#footer{
  height:100vh;
  background-color: var(--blue);
}

#oops {
  width: 30vw;
  padding-top: 24vh;
  margin: auto;
  text-align: center;
}

#about{
  width:60%;
}

#leftButtonMobile{
  display: none;
}

#instructions{
  width:70%;
  margin:auto;
}


/* ------ */
/* MOBILE */
/* ------ */
@media screen and (max-width: 640px){
  .half{
    width: 100%;
  }
  .row{
    flex-direction: column;
  }
  .nav-item{
    width:50%;
  }
  .mobile-distribute{
    flex-direction: row;
    justify-content: space-evenly;
  }
  #art{
    align-items: center;
  }
  #artefact, #surveys{
    order: 1;
    width: 90%;
  }
  #leftContainer{
    display: none;
    height: 0%;
  }
  #rightContainer{
    order:2;
    width:100%;
  }
  #leftButtonMobile{
    display: inline-block;
  }
  .semi{
    height: 50%;
  }
  #footer{
    height:auto;
  }
  #main{
    height: auto;
  }
}
